<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="windows-1251">
  <title>Новая фреза</title>
</head>
<body>

<form th:method="POST" th:action="@{/mill}" th:object="${mill}">
  <label for="name">Название фрезы: </label>
  <input type="text" th:field="*{name}" id="name">
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
  <br/>
  <label for="diameter">Диаметр: </label>
  <input type="text" th:field="*{diameter}" id="diameter">
  <div style="color:red" th:if="${#fields.hasErrors('diameter')}" th:errors="*{diameter}">Diameter error</div>
  <br/>
  <label for="numberOfFlutes">Кол-во зубьев: </label>
  <input type="text" th:field="*{numberOfFlutes}" id="numberOfFlutes">
  <div style="color:red" th:if="${#fields.hasErrors('numberOfFlutes')}" th:errors="*{numberOfFlutes}">numberOfFLutes error</div>
  <br/>
  <label for="manufacturer">Производитель: </label>
  <input type="text" th:field="*{manufacturer}" id="manufacturer">
  <div style="color:red" th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}">manufacturer error</div>
  <br/>
  <label for="vendorCode">Артикул: </label>
  <input type="text" th:field="*{vendorCode}" id="vendorCode">
  <div style="color:red" th:if="${#fields.hasErrors('vendorCode')}" th:errors="*{vendorCode}">vendorCode error</div>
  <br/>
  <input type="submit" value="Create!">
</form>

</body>
</html>